* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.newBook,
#books-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 170px;
  margin-bottom: 15px;
}

#add {
  width: 50px;
}

.remove {
  width: 70px;
  margin-bottom: 10px;
  float: right;
  margin-right: 15px;
  margin-top: 10px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

tr:nth-child(odd) {
  background-color: #e4e4e4;
}

hr {
  margin-bottom: 10px;
}
